
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Corpo da página */
body {
font-family: 'Arial', sans-serif;
background-color: #f7f7f7;
color: #333;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
padding: 20px;
text-align: center;
}

/* Título principal */
h1 {
font-size: 2.5rem;
color: #4CAF50;
margin-bottom: 20px;
}

/* Estilo do input de texto */
input[type="text"] {
padding: 10px;
width: 250px;
font-size: 1rem;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 10px;
outline: none;
}

input[type="text"]:focus {
border-color: #4CAF50;
}

/* Estilo dos botões */
button {
padding: 10px 20px;
font-size: 1.1rem;
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
margin: 10px;
transition: background-color 0.3s;
}

button:hover {
background-color: #0056b3;
}

/* Estilo para quando o botão "Mostrar Habilidades" for clicado */
#pokemonAbilities {
margin-top: 20px;
font-size: 1.1rem;
color: #333;
}

/* Estilo das informações do Pokémon */
#pokemonData {
display: none;
flex-direction: column;
align-items: center;
margin-top: 30px;
font-size: 1.2rem;
line-height: 1.5;
color: #555;
max-width: 600px;
width: 100%;
background-color: #fff;
border: 1px solid #ddd;
padding: 20px;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#showAbilitiesButton{
    display: none;
}

#pokemonData img {
max-width: 150px;
margin-top: 15px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 600px) {
body {
    padding: 10px;
}

h1 {
    font-size: 2rem;
}

input[type="text"] {
    width: 200px;
}

button {
    font-size: 1rem;
}

#pokemonData {
    padding: 15px;
    font-size: 1rem;
}

#pokemonData img {
    max-width: 120px;
}
}

